.modal_header {
    background: var(--dark_0);
}

.modal_title {
    color: var(--light_0);
    font-size: 30px;
    font-weight: 700;
    font-family: 'Nunito_sans_bold';
    text-transform: capitalize;
}

.modal_body {
    background: var(--dark_0);
    color: var(--light_2);
    border-radius: 14px;
    padding: 20px;
}

.modal_body_no_title {
    background: var(--dark_0);
    color: var(--light_2);
    border-radius: 14px;
}

.modal_close {
    color: var(--light_0);
    background-color: transparent;
}

.modal_close:hover {
    background-color: transparent;
}

.textarea_label {
    font-family: 'Nunito_sans_regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.day_label {
    font-family: 'Nunito_sans_regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
}

.date_body {
    background-color: var(--dark_3);
}

.textarea_input {
    background-color: var(--dark_3);
    border: 1px solid var(--dark_3);
    border-radius: 4px;
    color: var(--light_0);
    font-family: 'Nunito_sans_regular';
    font-size: 14px;
}

.date_submit_button {
    background-color: var(--other_2);
    color: var(--light_0);
}

.error_label {
    font-family: 'Nunito_sans_regular';
    font-size: 13px;
    font-weight: 400;
}