flask
pinecone
pandas
numpy
scikit-learn
Pillow
opencv-python
tensorflow==2.15.0
transformers==4.30.2
keras==2.15.0
matplotlib
seaborn
requests
beautifulsoup4
selenium
webdriver-manager
python-dotenv
google-cloud-vision
easyocr
sentence-transformers==2.2.2
huggingface-hub==0.19.3