.menu_dropdown {
    background-color: red
}

.action_bg {
    background-color: #19232d;
    width: 40px;
    height: 40px;
    color: var(--light_0);
    border-radius: 100%;
}

.action_bg:hover {
    background-color: #4C535B;
}